<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427763680887-rbqgs4mv9jh04tetgqphk7s83928m8bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427763680887-rbqgs4mv9jh04tetgqphk7s83928m8bv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427763680887-e36f7dr7hv2iuq0tfffoog5ci8u146jb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT9qGSGIBRgCamedUDqDvx1Kk8Di0JtgY</string>
	<key>GCM_SENDER_ID</key>
	<string>427763680887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.volticarApp</string>
	<key>PROJECT_ID</key>
	<string>volticar-e998e</string>
	<key>STORAGE_BUCKET</key>
	<string>volticar-e998e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427763680887:ios:86e03de357e77b7154e872</string>
</dict>
</plist>